@{
    Layout = null; // "~/Views/Shared/_Layout.cshtml";
    <div>
        @ViewBag.Greeting;
        <p>
            We're going to have an exciting party.<br />
            (To do: sell it better. Add pictures or something.)
        </p>
        @Html.ActionLink("RSVP Now", "RsvpForm");
    </div>

}


